# Global Atlassian defaults -- copy to .env
DEFAULT_ATLASSIAN_PROFILE=work
DEFAULT_ACCOUNT_FOR_TYPE_work=primary
DEFAULT_ACCOUNT_FOR_TYPE_personal_work=primary
DEFAULT_ACCOUNT_FOR_TYPE_personal=primary
